PORT=
MONGODB_URI=
JWT_SECRET=
FRONTEND_URL=
SEND_GRID_API=
FROM_EMAIL=

# NODE_ENV is not set automatically, so tell Arcjet we're in dev
# You can leave this unset in prod
ARCJET_ENV=
# Get your site key from https://app.arcjet.com
ARCJET_KEY=
